# Build Folders
bin
obj

# Resharper
_ReSharper.*

# user
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.TeamCity.user
*.DotSettings.user

NDependOut


# Don't include NuGet Packages
packages/


